<section class="chat">
    <fieldset>
        <legend>Chat</legend>
        <ul class="chat_output_container">
            <li class="chat_output template">
                <span class="chat_time"></span> ||
                <span class="chat_from"></span>:
                <span class="chat_message"></span>
            </li>
        </ul>
        <form data-ng-submit="s_chat.send_msg()">
            <input data-ng-model="s_chat.msg" type="text" placeholder="Tell them everything...">
        </form>
    </fieldset>
</section>