<section class="file_transfer">
    <fieldset>
        <legend>File Sharing</legend>
        <form data-ng-submit="s_file.offer_files()">
            <input data-ng-model="s_file.input_files" type="file" name="input_files" multiple="true"><br>
            <input type="submit" name="input_offer" value="Offer Files">
        </form>
        <div class="queue_download">
            <h5>Downloads</h5>
            <ul>
                <li data-ng-repeat="download in s_file.file_mgr.get_downloads()">
                    [[download.name]] Size = [[download.size]] Status: [[download.status]]
                    <button class="small" type="button" data-ng-click="s_file.accept_file(download.file_id)">Accept</button>
                    <button class="small" type="button" data-ng-click="s_file.decline_file(download.file_id)">Decline</button>
                </li>
            </ul>
        </div>
        <div class="queue_upload">
            <h5>Uploads</h5>
            <ul>
                <li data-ng-repeat="upload in s_file.file_mgr.get_uploads()">
                    [[upload.name]] Size = [[upload.size]] Status: [[upload.status]]
                </li>
            </ul>
        </div>
    </fieldset>
</section>