<div class="notification" data-ng-class="{'reveal-modal': notification.modal}">
    <div class="panel callout radius">
        [[notification.message]]
        <br><br>
        <ng-switch on="notification.constructor.name">
            <div ng-switch-when="ConfirmNotification">
                <a href="#" class="tiny button" data-ng-click="s_notif.resolve(true)">Accept</a>
                <a href="#" class="tiny button" data-ng-click="s_notif.resolve(false)">Decline</a>
            </div>
            <div ng-switch-when="ChooseNotification">
                <select data-ng-model="s_notif.selected_choices"
                        data-ng-options="choice.value as choice.label for choice in notification.choices"
                        multiple="true">
                </select>
                <input type="submit" class="tiny button" name="notif_answer" value="Validate"
                       data-ng-click="s_notif.resolve(s_notif.selected_choices)">
                <a href="#" class="tiny button" data-ng-click="s_notif.resolve()">Cancel</a>
            </div>
        </ng-switch>

    </div>
</div>