<section class="room">
    <div class="row">
        <ul class="large-6 columns">
            <li data-ng-repeat="(peer_id, attendee) in room.attendees">
                [[peer_id]] ([[$root.peer_mgr.get_peer(peer_id).name]]): <span data-ng-show="attendee.joined">Connected</span><span
                    data-ng-hide="attendee.joined">Pending</span>
            </li>
        </ul>
        <a data-ng-show="room.is_admin()" class="large-2 columns large-offset-4 small radius button" href="#" ng-click="s_room.add_attendee()">Add Attendee</a>
    </div>
    <div class="row">
        <chat class="columns large-6"></chat>
        <file_transfer class="columns large-6"></file_transfer>
    </div>

</section>