<!DOCTYPE html>

<html>
<head>
    <title>PeerCast</title>
    <link rel="stylesheet" href="/assets/css/app.css"/>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38685414-1']);
        _gaq.push(['_setDomainName', 'peerca.st']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body data-ng-controller="MainController">

<div id="notifications">
    <notification data-notification="notification" data-ng-repeat="notification in s_main.notifier.get_notifications()"></notification>
</div>

<nav class="top-bar">
    <ul class="title-area">
        <li class="name"><h1><a href="/test">PeerCast</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li class="active"><a href="#">Item 1</a></li>
            <li class="divider"></li>
            <li><a href="#">Item 2</a></li>
            <li class="divider"></li>
        </ul>

        <ul class="right">
            <li class="divider hide-for-small"></li>
            <li class="has-dropdown">
                <a href="#">Menu</a>
                <ul class="dropdown">
                    <li><label>First Level</label></li>
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 1</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>

<header class="row">

    <h5 class="three columns">Connected as '[[me.name]]' ([[me.id]])</h5>
    <!--<figure class="five columns">-->
    <!--<img src="/assets/img/logo.png">-->
    <!--</figure>-->
    <video id="local_stream" class="four columns" src="[[local_blobURL]]" width="100" height="100" autoplay></video>
</header>

<div data-ng-controller="PeerConnectionController">

    <section id="channels" class="row" ng-controller="ChannelController">

        <form data-ng-submit="s_channel.join()">
            <input type="text" data-ng-model="s_channel.channel_to_join">
        </form>

        <div class="section-container tabs" data-section>
            <div class="section" data-ng-repeat="(channel_name, channel) in s_channel.channels">
                <p class="title"><a href="[[channel_name]]">[[channel_name]]</a></p>

                <div class="content">
                    <fieldset>
                        <legend>Chat</legend>
                        <!--<textarea data-ng-model="channel.output" readonly></textarea>

                        <form data-ng-submit="channel.send()">
                            <input type="text" placeholder="Tell them everything..." data-ng-model="channel.msg">
                        </form>-->
                    </fieldset>

                    <fieldset>
                        <legend>Peers</legend>
                        <select data-ng-model="selected_attendees"
                                data-ng-options="attendee.peer_id for attendee in s_channel.get_attendees(channel)"
                                multiple="true">
                        </select>
                        <input type="submit" name="create_room" value="Create Room"
                               data-ng-click="s_channel.create_room(selected_attendees)">
                    </fieldset>


                </div>
            </div>
        </div>

        <section id="rooms" class="row" data-ng-controller="RoomController">
            <div class="section-container tabs" data-section>
                <div class="section" data-ng-repeat="(room_id, room) in room_mgr.rooms">
                    <p class="title"><a href="#[[room_id]]">[[room_id]]</a></p>

                    <div class="content">
                        <room room="room"></room>
                    </div>
                </div>
            </div>
        </section>

    </section>

</div>

</body>

{% include "views.html" %}

<script src="/assets/js/jquery-1.9.1.js"></script>

<script src="/assets/js/foundation/foundation.js"></script>
<script src="/assets/js/foundation/foundation.alerts.js"></script>
<script src="/assets/js/foundation/foundation.clearing.js"></script>
<script src="/assets/js/foundation/foundation.cookie.js"></script>
<script src="/assets/js/foundation/foundation.joyride.js"></script>
<script src="/assets/js/foundation/foundation.magellan.js"></script>
<script src="/assets/js/foundation/foundation.orbit.js"></script>
<script src="/assets/js/foundation/foundation.reveal.js"></script>
<script src="/assets/js/foundation/foundation.section.js"></script>
<script src="/assets/js/foundation/foundation.tooltips.js"></script>
<script src="/assets/js/foundation/foundation.topbar.js"></script>

<script>
    jQuery(document).foundation();
</script>

<script src="/assets/js/underscore.js"></script>
<script src="/assets/js/backbone.js"></script>
<script src="/assets/js/chosen.jquery.js"></script>
<script src="/assets/js/mustache.js"></script>
<script src="/assets/js/sockjs-0.3.js"></script>
<script src="/assets/js/sha1.js"></script>
<script src="/assets/js/reliable.js"></script>
<script src="/assets/js/angular.js"></script>
<script src="/assets/js/peercast.js"></script>

</html>
