{% raw %}
<script type="peercast/view" id="view_file_offer">
    <div id="offer_{{ offer_id }}" class="offer" data-offer_id="{{ offer_id }}">
        <span>[<span class="offer_id_text">{{ offer_id }}</span>] {{ peer_id }} is offering {{ files }} files @ ({{ total_size }} KB)</span>
        <button class="offer_button accept">Accept</button>
        <button class="offer_button reject">Reject</button>
    </div>
</script>

<script type="peercast/view" id="view_log_format">
    <span class='{{ level_name }}'>{{name}}: {{message}}</span><br>
</script>
{% endraw %}
