<section class="visio">
    <video class="remote_stream" src="[[remote_blobURL]]" width="100%" height="100%" autoplay></video>
    <button type="button" class="small button" data-ng-click="start_visio()">Start Visio</button>
    <button type="button" class="small button" data-ng-click="stop_visio()">Stop Visio</button>
</section>