// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";




html {
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

body {

}

ul, ol {
  list-style: none;
}

span.user {
  display: inline-block;
  padding: 4px;
  background-color: #ddd;
  margin-right: 10px;
}

#input_peer, #input_channel {
  width: 350px;
}

#log {
  .debug {
    color: black;
  }
  .info {
    color: green;
  }
  .warn {
    color: orange;
  }
  .error {
    color: red;
  }
}

.offer_id_text {
  font-family: monospace;
}

.template:first-child {
  display: none;
}

.chat {
  .chat_output {
    .chat_time {
      font-size: 60%;
    }
    .chat_from {
      font-size: 75%;
    }
  }
}

.notification {
  width: 300px;
  background-color: white;
  color: black;
}

.notification:not(.reveal-modal) {
  position: fixed;
  top: 11px;
  right: 10px;
  z-index: 11;
}

